.btn-file-input {
    border: 1px solid #d6d8db;
    color: #0038fe;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    min-height: 61px;
    border-radius: 8px;
}
#file-list {
    list-style: none;
}
#file-list li {
    min-height: 61px;
}
.card-file-list {
    background-color: #f7f7f7;
    border-radius: 8px;
}
.card-file-list .indicator {
    background-color: #2b67e9;
    border-radius: 8px;
    height: 56px;
    width: 56px;
    color: #ffffff;
}
.card-file-list .file-info {
    /* max-width: calc(100% - 128px); */
    width: 232px;
}
.card-file-list .file-name,
.card-file-list .file-size {
    font-size: 12px;
    line-height: 14.52px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.card-file-list .btn-delete-list-item {
    opacity: 0;
}
.card-file-list:hover .btn-delete-list-item {
    opacity: 1;
}
