.main-footer {
    background: #fff;
    padding: 19px 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    font-kerning: none;
    font-feature-settings: "calt" off, "liga" off;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.main-footer span {
    font-weight: 500;
}
